main {
  font-family: Market_Deco;
  line-height: 1.6;
  color: #fff;
  padding: 5vw;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.5060399159663865) 0%,
      rgb(13, 14, 17) 80%,
      rgb(13, 14, 17) 100%
    ),
    url("../resource/image/home/background\ hair\ darkmode.webp");
    background-position: top;
    background-repeat: repeat-y;
}

header p {
  text-align: center;
  text-align-last: center;
  @media screen and (min-width: 900px) {
    padding-left: 4%;
    padding-right: 4%;
  }
}

#project p {
    text-align: center;
    text-align-last: center;
    @media screen and (min-width: 900px) {
      padding-left: 4%;
      padding-right: 4%;
    }
}

.objective {
    background-color: rgba(255, 255, 255, 0.675);
    color: black;
    padding: 5%;
    border-radius: 1%;
    margin-bottom: 5%;
}

footer p {
    text-align: center;
    text-align-last: center;
    @media screen and (min-width: 900px) {
        padding-left: 4%;
        padding-right: 4%;
    }
    
}

header,
section,
footer {
  margin-bottom: 70px;
}

header h1,
section h2,
footer h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.5em;
}

header p,
section p,
footer p {
  text-align: center;
  margin-bottom: 10px;
}

#sdgs {
    margin-bottom: 0;
}

#project h3 {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  padding-left: 10px;
}

@media (min-width: 600px) {
  header p,
  section p,
  footer p {
    text-align: left;
  }

  ul li {
    margin-left: 20px;
  }
}
